<% include header.ejs %>

<h1>Node Resource Monitor</h1>

<div class="demo-container">
  <div id="chartMemory" class="chart"></div>
</div>

<div class="demo-container">
  <div id="chartCpu" class="chart"></div>
</div>

<% include footer.ejs %>